<?xml version="1.0" encoding="UTF-8"?>

<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<servlet>
		<!-- Create a name to servlet class.
			 This name link the servlet with the mapping url-->
		<servlet-name>Ch3 Beer</servlet-name>
		<!-- Define the servlet class -->
		<servlet-class>com.redhat.web.BeerSelect</servlet-class>
	</servlet>

	<servlet-mapping>
		<!-- Servlet name, the same as the above declared -->
		<servlet-name>Ch3 Beer</servlet-name>
		<!-- The url to give access to the servlet -->
		<url-pattern>/SelectBeer.do</url-pattern>
	</servlet-mapping>
</web-app>